nav{
    border-radius: 0 0 10px 10px;
    background: var(--light-color);
    padding: 0 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
}

.nav-item > .nav-link{
    color: white;
}
.nav-item > .nav-link:hover{
    color: var(--dark-color);
}

.container > .navbar-toggler{
    color: white;
}


